@import url('https://cdn.jsdelivr.net/gh/naen-nae/fonts@purge-cache-for-subsets/build/css/NEXON Lv2 Gothic.css');

body {
  margin: 0;
  font-family: 'NEXON Lv2 Gothic', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
